
// Design
@import 'partials/design/colors';
@import 'partials/design/fonts';
@import 'partials/design/button';

// Views
@import 'partials/views/console_display';
@import 'partials/views/smartphone_sim';
@import 'partials/views/status_display';
@import 'partials/views/timeway';
@import 'partials/views/navigation';
@import 'partials/views/data_display';
@import 'partials/views/footer';
@import "partials/views/help";
@import "partials/views/remote_display";
@import "partials/views/modal_center";

// Utilitis
@import 'partials/utilities/console';
@import 'partials/utilities/messages';






// Modal Displays

.shadow-display {
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.well-display {
  border-radius: 7px;
  padding: 14px;

}

.well-display > .close {
  position: relative;
  top: -10px;
  left: 5px;
  color: #000;}

.well-display > .close:hover {

  color: $color-nav-text;
}
.well-display > .close:active {

  color: $color-nav-text;
  border: none;
}


// Navigation

.navbar-nicer {
  background-color:$color-background;;
}

.navbar-nicer:hover .navbar-nav > li > a {
  color: $color-nav-text;
}
.navbar-nicer:hover .navbar-nav > li > a:hover {
  color: $color-text-link-hover
}
.navbar-nicer:hover .navbar-nav > li > a:active {
  color: $color-text-link-active
}

.navbar-nicer .navbar-nav > li > a {
  color: $color-background;

}


// Pfeilnavigation im Menu


.pager {
  float: right;
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 12px;
  margin-right: 50px;

}

.pager li {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.pager li > a {
  font-size: 1em;
  padding: 1px 20px;
  margin: 0;
  border-radius: 5px;
  background-color: $color-background;
  color: $color-text-link;
  cursor:pointer;
}