
// Design
@import 'partials/design/colors';
@import 'partials/design/fonts';
@import 'partials/design/button';
@import 'partials/utilities/timer';
@import 'partials/utilities/effects';

// Views
@import 'partials/views/remote_mobile';

