// TimeWay

#layer-character {
  position: fixed;
  left: 30vw;
  width: 300px;
  height: 585px;
}

.character {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}




// Kevin
#proto-1 {
  background-color: transparent;
  background-size: cover;
  height: 400px;
  width: 250px;
}

#proto-1.wink {
  background-image: url("../images/character/kevin-winkt-animated-30fps.png");
}

#proto-1.walk-forward {
  background-image: url("../images/character/character-kevin-laufen-30fps.png");
}

#proto-1.walk-backward {
 // background-image: url("../images/character/character-kevin-laufen-30fps.png");

}


#proto-1.walk-backward:before {position: relative;
  display: block;
  content:"";
  height: 400px;
  width: 250px;
  background-image: url("../images/character/character-kevin-laufen-30fps.png");
}


#proto-1.walk-backward:before {
  transform:scaleX(-1);

}




#proto-1.wate {
  background-image: url("../images/character/character-kevin-warten.png");
}

#proto-1.mobile {
  background-image: url("../images/character/character-kevin-mobile.png");
}



// gruppe
#proto-2 {
  background-color: transparent;
  background-image: url("../images/character/character-gruppe.png");
  background-size: contain;
  height: 400px;
  width: 400px;
}


// Bus
#proto-3 {
  background-color: transparent;
  background-image: url("../images/character/character-bus-mit-kevin.png");
  background-size: cover;
  height: 400px;
  width: 743px;

  // nach links verschieben
  left: -280px;

  // die räder auf den weg
  bottom: -30px
}





// Speech Bubble

.speech-bubble {
  position: absolute;
  top: -170px;
  left: 100px;
  min-height: 100px;
  min-width: 200px;
  font-size: 1.5em;
  text-align: center;
  padding: 33px;

  -webkit-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
  transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220); /* easeInQuart */
  transform-origin: bottom center;
  transition-duration: 300ms;
  transform: scale(0);
}


// Animation Classes

.walk-forward,
.walk-backward {
  animation: bounce 500ms infinite;
}

.blobup {
  transform: scale(1);
}

.blobdown {
  animation: blobup 300ms;
  transform-origin: bottom;
  animation-direction: reverse;
  transform: scale(0);
}

.flipdown {
  animation: flipdown 300ms;
  transform-origin: bottom;
  animation-timing-function: linear;
}

.flipup {
  animation: flipdown 300ms;
  transform-origin: bottom;
  animation-direction: reverse;
  animation-timing-function: linear;
}

// keyframes

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  50% {
    transform: scale(1.05, .95) translateY(5px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes flipdown {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(90deg);

  }
}



