@import "../design/colors";
@import "../design/fonts";

#data-display-content {
  position: absolute;
  top: 100px;
  width: 300px;
  left: 400px;

}

#info_id {
  height: 20px;
  font-size: 0.8em;
  color: gray;
}