@import "../design/colors";
@import "../design/fonts";


#navigation-display-container{
  position: absolute;
  left: 100px;
  top: 100px;
}

#navigation-display-content {

  font-size: 0.8em;


  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    border-bottom: 1px solid #4c4c4c;
  }

  // links
  a {
    text-decoration: none;
    display: block;
    padding: 5px;
    cursor: pointer;
  }

  a:hover {
    color: white;
    background-color: #3a3a3a;
  }
}