@import "../design/colors";
@import "../design/fonts";


#phone-sim{
  margin: 20px;
  padding: 20px;
  border: 1px solid gray;

}

#phone-sim:after{
  content: "iPhone Simulator"
}

#phone-sim.debug{
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background-color: $color-message;
}