@import "../design/colors";
@import "../design/fonts";

#remote-display {
  position: absolute;
  top: 60px;
  left: 0;

}

#remote-display div{

  border: solid 1px $color-console-background-bright;

}

#remote-display-content {
 position: relative;
  display: block;
  width: 375px;
  border: solid 1px $color-console-background-bright;
}


#go-remote{

}


#go-remote a{
text-decoration: none;
  color: $color-console-background-bright;
}



#go-remote-content{
width: 200px;
text-align: center;

}


#go-remote-content .modal-content:hover{
border: solid 1px $color-console-background-bright;
}





#remote-modal-how-open{
  width: 400px;
}