@import "../design/colors";
@import "../design/fonts";

.well-remote {
  padding: 2px;
}

#remote-display button {
  font-size: 17px;

}

.remote-test {
  color: $color-message-error;
}

button.socket-button-next,
button.socket-button-previous {
  height: 200px;

  span {

    font-size: 60px;

  }

}

#remote-list-main {

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
    text-align: left;

  }

  a {
    text-align: left;

  }
}

li a.active {
  color: navajowhite;

}

#remote-list-header,
#remote-list-footer {
  padding: 5px;
  text-align: center;
}

