@import "../design/colors";
@import "../design/fonts";

$color-smartphone: rgb(0, 0, 0);
$color-smartphone-border: rgb(45, 45, 45);
$color-smartphone-border-bright: rgb(133, 133, 133);
$color-smartphone-screen: rgb(195, 209, 255);
$color-smartphone-homebutton: rgb(15, 16, 51);
$color-smartphone-homebutton-bright: rgb(24, 25, 81);
$color-smartphone-pictos-hidden: rgb(15, 16, 51);
$color-smartphone-pictos-bright: rgb(58, 58, 116);
$color-smartphone-pictos-brighter: rgb(62, 107, 169);
$color-smartphone-pictos-active: rgb(1, 1, 1);
$color-smartphone-screen: rgb(63, 64, 130);

#smartphone-sim {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;

}

#smartphone-sim-content {
  position: absolute;

  width: 10px;
  height: 10px;
  top: 200px;
  right: 300px;
}

#smartphone-frame {
  display: inline-block;
  height: 700px;
  width: 350px;
}

#smartphone-frame {
  position: relative;
  display: block;
  background-color: black;
  border-radius: 25px;

}

#smartphone-frame:hover {
}

#smartphone-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20% 5%;
}

#smartphone-screen-ring {

}

#smartphone-screen {
  border: 1px solid black;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2%;
  overflow-x: hidden;
  overflow-y: auto;

//  background-color: $color-smartphone-screen;
  background-color: black;

}


#smartphone-content{
  position: absolute;
}


#hype-test{
  position: absolute;
  left: 0;
  top:0;
  display: block;
  width: 375px;
  height: 667px;
  border: 1px salmon solid;
  background-color: #00a379;
}

// Homebutton
#smartphone-home-button {
  position: relative;
  background-color: $color-smartphone-homebutton;
  width: 15%;
  height: 7.5%;
  bottom: 9%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border: 1px solid $color-smartphone-border;
}

#smartphone-home-button:hover {
  border: 1px solid $color-smartphone-border-bright;
  cursor: pointer;

}

#smartphone-home-button:active {
  border: 1px solid $color-smartphone-border-bright;
  background-color: $color-smartphone-homebutton-bright;
  cursor: pointer;

}

#smartphone-head {
  position: absolute;
  width: 90%;
  height: 12%;
  padding: 2%;
  color: #000;
  font-size: 20px;
  top: 4px;
}

#smartphone-head:hover {
  color: $color-smartphone-pictos-bright;
}

// toolbar
#smartphone-toolbar {
  padding: 0 5px;
}

#smartphone-head:hover a {
  color: $color-smartphone-pictos-bright;
}

#smartphone-toolbar a {
  text-decoration: none;
  color: $color-smartphone-pictos-hidden;
  padding: 0 5px;
}

#smartphone-toolbar a:hover {
  color: $color-smartphone-pictos-brighter;
  padding: 0 5px;
}

#smartphone-toolbar {
  padding: 0 5px;
}

.smartphone-toolbar-item {
  position: relative;
  cursor: pointer;
}

.smartphone-toolbar-group-resize {
}

#smartphone-toolbar-close {
  float: right;
  position: relative;

  display: inline-block;
  padding-right: 5px;
  cursor: pointer;
}

#smartphone-close:active {
  color: white;
  cursor: pointer;
}

#smartphone-console {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $color-console-background;
  color: $color-message;
}

#smartphone-console-main {
  padding: 10px;

}

#smartphone-console {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.7em;

  .message,
  .message-default,
  .message-error,
  .message-warning,
  .message-ok {

    padding-bottom: 2px;
  }
}

#smartphone-console-toolbar {
  border-bottom: 1px solid $color-console-background-bright;
  background-color: $color-console-background;
  padding: 5px 10px 10px 10px;

}

.smartphone-console-toolbar-item {
  float: right;
  display: inline-block;
  margin-right: 5px;
}

.smartphone-console-status {
  float: none;

}

#smartphone-console a {
  cursor: pointer;
}

.ping-badge {

  background-color: $color-console-background-bright;
  color: $color-message-ok;
  padding: 2px 5px;
  margin-left: 5px;
  border-radius: 15px;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes pulsate-ring {
  0% {
    border: solid 1px black;
  }
  50% {
    border: solid 1px $color-message;
  }
  100% {
    border: solid 1px black;
  }
}

.ping-pulse {

  -webkit-animation: pulsate-ring 500ms ease-out;
}

.prompt-pulse {

  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}


// smartphone Screen

