@import "../design/colors";
@import "../design/fonts";

#status-display {

}

#status-display-content {
  margin-top: 40px;
  margin-left: 40px;
}


.status-date,
.status-feeling,
.status-place {

  display: inline-block;
  margin-right: 50px;

}