@import "../design/colors";
@import "../design/fonts";

#status-display {

}

#status-content {
  margin-top: 40px;
  margin-left: 40px;
}

#status-display.console {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background-color: $color-message;

}

.status-date,
.status-feeling,
.status-place {

  display: inline-block;
  margin-right: 50px;

}