@import "../design/colors";
@import "../design/fonts";


  #status-display{
    margin: 20px;
    padding: 20px;
    border: 1px solid gray;
  }

  #status-display:after{
    content: "Status Display"
  }

  #status-display.debug{
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    background-color: $color-message;

  }