@import "../design/colors";
@import "../design/fonts";

#status-display {
  border-top: dashed 1px $color-gray;
}

#status-display-content {
  margin-top: 40px;
  margin-left: 80px;
}

#status-display.console {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background-color: $color-message;

}
.status-display-navbar{
  position: relative;

}

.status-display-elem {

  display: inline;
  margin-right: 50px;
  top: 0;

}


// Smartphone-Sim Picto

#status-display-smartphone {
  position: absolute;
  right: 200px;
  display: inline-block;
  width: 30px;
  height: 50px;
  background: url('../images/smartphone_white.svg');
  background-position: top center;
  background-size: 100%;
  opacity: 0.3;
}

#status-display-smartphone:hover {
  opacity: 1;
  cursor: pointer;
}

#status-display-smartphone:active {
  background: url('../images/smartphone_black.svg');
}
