@import "../design/colors";
@import "../design/fonts";

$color-timeway-ebene-viewport: rgb(22, 38, 41);

#timeway {
  height:600px;
  background-color: $color-timeway-ebene-viewport;
  overflow: hidden;
}

#timeway.debug-modus {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background-color: $color-message;
}

#timeway-content{
  overflow: scroll;
}

#layer-1{
  width: 4400px;
}

.timeway-point {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  border: 1px solid yellow;
  width: 400px;
  height: 600px;
}