<div id="editor-toolbar-side-content" class="shadow-display">

    <!-- tumbnails-area -->
    <div id="slide-tumbnails-area-close-wrapper">
        <div id="slide-tumbnails-area-close">
            <span class="editor-button-20 triangle-open tumbnails-area-toggle-button"></span>
            <span class="editor-button-20x45 editor-area-switcher-big"></span>
        </div>
    </div>


    <!-- devices-area -->
    <div id="slide-devices-area-close">
        <span class="editor-button-20 triangle-open devices-area-toggle-button"></span>
        <span class="editor-button-20x45 editor-area-switcher-big"></span>
    </div>


    <div id="toolbar-buttons">

        <!-- text -->
        <div><span class="editor-button-35x40 side-toolbar-text-button"></span></div>

        <!-- Shape -->
        <div><span class="editor-button-35x40 side-toolbar-shape-button"></span></div>

        <!-- image file -->
        <div><span class="editor-button-35x40 side-toolbar-image_file-button"></span></div>

        <!-- code -->
        <div><span class="editor-button-35x40 side-toolbar-code-button"></span></div>

        <!-- active zone -->
        <div><span class="editor-button-35x40 side-toolbar-active-zone-button"></span></div>

        <!-- Seperator -->
        <div><span class="side-toolbar-item side-toolbar-seperator"></span></div>

        <!-- character -->
        <div><span class="editor-button-35x40 side-toolbar-character-button"></span></div>

    </div>

</div>
