

<div id="editor-toolbar-top-content">

    <!-- tumbnails-area close -->
    <div id="slide-tumbnails-area-close">
        <span class="editor-button-20 triangle-close tumbnails-area-toggle-button"></span>
<!--
        <span class="editor-button-20x45 editor-area-switcher-big"></span>
-->
    </div>

    <!-- tumbnails-area -->
    <div id="slide-tumbnails-area" class="shadow-display" style="display: none">

        <div id="slide-list-container">
            <ul class="slide-list">
                <li>
                    <div class="slide-list-wrapper" data-slide="slide-1">

                        <div class="slide-list-tumbnail"></div>
                        <div class="slide-list-number">1</div>
                        <div class="slide-list-title">Slide 1</div>
                        <div class="slide-list-transition">
                            <div class="editor-button slide-list-transition-button"></div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="slide-list-wrapper slide-active" data-slide="slide-2">

                        <div class="slide-list-tumbnail"></div>
                        <div class="slide-list-number">2</div>
                        <div class="slide-list-title">Slide 2</div>
                        <div class="slide-list-transition">
                            <div class="editor-button slide-list-transition-button"></div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="slide-list-wrapper" data-slide="slide-3">

                        <div class="slide-list-tumbnail"></div>
                        <div class="slide-list-number">3</div>
                        <div class="slide-list-title">Slide 3</div>
                        <div class="slide-list-transition">
                            <div class="editor-button slide-list-transition-button"></div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="slide-list-wrapper" data-slide="slide-4">

                        <div class="slide-list-tumbnail"></div>
                        <div class="slide-list-number">4</div>
                        <div class="slide-list-title">Slide 4</div>
                        <div class="slide-list-transition">
                            <div class="editor-button-20 slide-list-add-new-button"></div>
                        </div>
                    </div>

                </li>

                <li>
                    <div class="slide-list-wrapper" data-slide="slide-1">

                        <div class="slide-list-tumbnail"></div>
                        <div class="slide-list-number">1</div>
                        <div class="slide-list-title">Slide 1</div>
                        <div class="slide-list-transition">
                            <div class="editor-button slide-list-transition-button"></div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="slide-list-wrapper" data-slide="slide-2">

                        <div class="slide-list-tumbnail"></div>
                        <div class="slide-list-number">2</div>
                        <div class="slide-list-title">Slide 2</div>
                        <div class="slide-list-transition">
                            <div class="editor-button slide-list-transition-button"></div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="slide-list-wrapper" data-slide="slide-3">

                        <div class="slide-list-tumbnail"></div>
                        <div class="slide-list-number">3</div>
                        <div class="slide-list-title">Slide 3</div>
                        <div class="slide-list-transition">
                            <div class="editor-button slide-list-transition-button"></div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="slide-list-wrapper" data-slide="slide-4">

                        <div class="slide-list-tumbnail"></div>
                        <div class="slide-list-number">4</div>
                        <div class="slide-list-title">Slide 4</div>
                        <div class="slide-list-transition">
                            <div class="editor-button-20 slide-list-add-new-button"></div>
                        </div>
                    </div>

                </li>

            </ul>
        </div>
    </div>

</div>