// Nicer-Panel

$color-panel-highlight: #85b6f3;
$color-panel-background: #3d3d3d;
$color-panel-background-darker: #353535;

$color-panel-brighter: #656565;
$color-panel-darker: #2d2d2d;

$color-panel-line-bright: #545454;
$color-panel-line-dark: #2D2D2D;

$color-panel-text: #FFFFFF;
$color-panel-text-inactive: #a0a0a0;
$color-panel-title: $color-panel-brighter;
$color-panel-section-title: $color-panel-highlight;
$color-panel-link: $color-panel-section-title;
$color-panel-input: #323232;


// Panel
// ---------------------------------

.nicer-panel {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;

}

.nicer-panel {
  position: absolute;
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
  background-color: $color-panel-background;
  border: 1px solid $color-panel-line-bright;
  border-radius: 10px;

  left: 100px;
  top: 100px;

  width: 300px;
}

// HEADER
// ---------------------------------

.nicer-panel-header,
.nicer-panel-section-header {
  position: relative;
  height: 35px;
  padding: 6px 10px;
  cursor: pointer;

}

.nicer-panel-title,
.nicer-panel-section-title {
  position: relative;
  display: inline-block;
  color: $color-panel-title;

  > .glyphicon {
    margin-right: 5px;
  }
}

.nicer-panel-header {
}

.nicer-panel-header.closed {
  border-bottom: none;
}

.nicer-panel-close-button,
.nicer-panel-option-button,
.nicer-panel-tab-option-button{
  position: relative;
  display: inline-block;
  float: right;
}

.nicer-panel-footer {
  height: 10px;

}

// Section
// ---------------------------------

.nicer-panel-section {

}

.nicer-panel-section-header {

  border-top: 1px solid $color-panel-line-bright;
  background-color:  $color-panel-background-darker;

}

.nicer-panel-section-header.closed{
  border-bottom:none;
}

.nicer-panel-section-title {
  color: $color-panel-section-title;

}

.nicer-panel-option-button {

}

.nicer-panel-section-main {
  padding: 10px;
}

.nicer-panel-seperator {
  border: none;
  border-bottom: 1px solid $color-panel-line-bright;
  padding: 0;
  margin: 15px 0;
}

// nav-pills

.nicer-panel .nav > li > a {
  padding: 0;
  margin-right: 15px;
  color: $color-panel-text-inactive;
}

.nicer-panel .nav > li > a:hover {
  background-color: transparent;
  color: $color-panel-text;

}

.nicer-panel .nav > li.active > a {
  background-color: transparent;
  color: $color-panel-link;
}

// Text

.nicer-panel-col-right{
  margin-left: 110px;
  padding-top: 2px;
}

.nicer-panel-row {
  border: 1px solid #4f4f4f;
  margin: 0;
  padding: 2px;
  height: 35px;
}

.nicer-panel-row > label{
  position: absolute;
  width: 100px;
}


.nicer-panel-row .input-group-nicer{
  margin-left: 110px;
}



.nicer-panel label{
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
  padding-top: 2px;

}

// Button

.btn-nicer-panel{
  width: 100%;

}

.btn-nicer-panel,
.btn-nicer-panel-full,
.btn-nicer-panel-33,
.btn-nicer-panel-66,
.btn-nicer-panel-half{
  background-color: $color-panel-input;
  border: 1px solid black;
}

.btn-nicer-panel-full{
  display: block;
  width: 228px;
}

.btn-nicer-panel-half{
  width: 110px;
}

.btn-nicer-panel-33{
  width: 70px;
}

.btn-nicer-panel-66{
  width: 150px;
}

.btn-nicer-panel.btn-danger,
.btn-nicer-panel-full.btn-danger,
.btn-nicer-panel-33.btn-danger,
.btn-nicer-panel-66.btn-danger,
.btn-nicer-panel-half.btn-danger{
  background-color: #510000;
  border: 1px solid #280000;
}