<div id="timeway-content">

    <div id="layer-1" data-stellar-ratio="2"></div>
    <div id="layer-2" data-stellar-ratio="3"></div>
    <div id="layer-3" data-stellar-ratio="4">
        <div id="timeway-point-001" class="timeway-point">timeway-point-001</div>
        <div id="timeway-point-002" class="timeway-point">timeway-point-002</div>
        <div id="timeway-point-003" class="timeway-point">timeway-point-003</div>
        <div id="timeway-point-004" class="timeway-point">timeway-point-004</div>
        <div id="timeway-point-005" class="timeway-point">timeway-point-005</div>
        <div id="timeway-point-006" class="timeway-point">timeway-point-006</div>
        <div id="timeway-point-007" class="timeway-point">timeway-point-007</div>
        <div id="timeway-point-008" class="timeway-point">timeway-point-008</div>
        <div id="timeway-point-009" class="timeway-point">timeway-point-009</div>
        <div id="timeway-point-010" class="timeway-point">timeway-point-010</div>
    </div>
</div>