<div id="timeway-content">
    <div id="layer-1-himmel" class="ost-parallax"></div>
    <div id="layer-2-berge" class="ost-parallax"></div>
    <div id="layer-3-aktuell" class="ost-parallax">
        <div id="TimeWayPoint-1" class="timeway-point"><a name="anker-timeway-point-001"></a></div>
        <div id="TimeWayPoint-2" class="timeway-point"><a name="anker-timeway-point-002"></a></div>
        <div id="TimeWayPoint-3" class="timeway-point"><a name="anker-timewanker-ay-point-003"></a></div>
        <div id="TimeWayPoint-4" class="timeway-point"><a name="anker-timeway-point-004"></a></div>
        <div id="TimeWayPoint-5" class="timeway-point"><a name="anker-timeway-point-005"></a></div>
        <div id="TimeWayPoint-6" class="timeway-point"><a name="anker-timeway-point-006"></a></div>
        <div id="TimeWayPoint-7" class="timeway-point"><a name="anker-timeway-point-007"></a></div>
        <div id="TimeWayPoint-8" class="timeway-point"><a name="anker-timeway-point-008"></a></div>
        <div id="TimeWayPoint-9" class="timeway-point"><a name="anker-timeway-point-009"></a></div>
        <div id="TimeWayPoint-10" class="timeway-point"><a name="anker-timeway-point-010"></a></div>
    </div>anker-
    <div id="layer-4-baume" class="ost-parallax">
        <div class="baum-1 deko breit"></div>
        <div class="busch-1 deko breit"></div>

        <div class="baum-2 deko breit"></div>
        <div class="busch-1 deko breit"></div>

        <div class="baum-3 deko kurz"></div>
        <div class="busch-1 deko breit"></div>
        <div class="busch-2 deko kurz"></div>

    </div>

</div>