<div id="timeway-content">
    <div id="layer-1-himmel" class="ost-parallax"></div>
    <div id="layer-2-berge" class="ost-parallax"></div>
    <div id="layer-3-aktuell" class="ost-parallax">

    </div>
    <div id="layer-character">

    </div>

    <div id="layer-4-baume" class="ost-parallax">
        <div class="baum-1 deko breit"></div>
        <div class="busch-1 deko breit"></div>

        <div class="baum-2 deko breit"></div>
        <div class="busch-1 deko breit"></div>

        <div class="baum-3 deko kurz"></div>
        <div class="busch-1 deko breit"></div>
        <div class="busch-2 deko kurz"></div>

    </div>

</div>