.side-toolbar-active-zone-button {
  background: url("../images/editor/picto/active_zone.svg");
}

.side-toolbar-character-button {
  background: url("../images/editor/picto/character.svg");
}

.side-toolbar-code-button {
  background: url("../images/editor/picto/code.svg");
}

.side-toolbar-image_file-button {
  background: url("../images/editor/picto/image_file.svg");
}

.side-toolbar-seperator {
  background: url("../images/editor/picto/seperator.svg");
}

.side-toolbar-shape-button {
  background: url("../images/editor/picto/shape.svg");
}

.side-toolbar-text-button {
  background: url("../images/editor/picto/text.svg");
}

// Hover
.side-toolbar-active-zone-button:hover {
  background: url("../images/editor/picto/active_zone-hover.svg");
}

.side-toolbar-character-button:hover {
  background: url("../images/editor/picto/character-hover.svg");
}

.side-toolbar-code-button:hover {
  background: url("../images/editor/picto/code-hover.svg");
}

.side-toolbar-image_file-button:hover {
  background: url("../images/editor/picto/image_file-hover.svg");
}

.side-toolbar-shape-button:hover {
  background: url("../images/editor/picto/shape-hover.svg");
}

.side-toolbar-text-button:hover {
  background: url("../images/editor/picto/text-hover.svg");
}

// Active
.side-toolbar-active-zone-button:active {
  background: url("../images/editor/picto/active_zone-active.svg");
}

.side-toolbar-character-button:active {
  background: url("../images/editor/picto/character-active.svg");
}

.side-toolbar-code-button:active {
  background: url("../images/editor/picto/code-active.svg");
}

.side-toolbar-image_file-button:active {
  background: url("../images/editor/picto/image_file-active.svg");
}

.side-toolbar-shape-button:active {
  background: url("../images/editor/picto/shape-active.svg");
}

.side-toolbar-text-button:active {
  background: url("../images/editor/picto/text-active.svg");
}

/* Triangle */

.triangle-open-button {
  background: url("../images/editor/button/open.svg");
}

.triangle-open-button:hover {
  background: url("../images/editor/button/open-hover.svg");
}

.triangle-open-button:active {
  background: url("../images/editor/button/open-active.svg");
}

.triangle-close-button {
  background: url("../images/editor/button/close.svg");
}

.triangle-close-button:hover {
  background: url("../images/editor/button/close-hover.svg");
}

.triangle-close-button:active {
  background: url("../images/editor/button/close-active.svg");
}