#editor {
  position: absolute;
  left: 0;
  top: 0;
}

#toolbar-buttons {
  padding-top: 300px;
  padding-left: 3px;

}

.side-toolbar-item {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  width: 35px;
  height: 40px;
}

.side-toolbar-button:hover {
  cursor: pointer;
}

#editor-toolbar-side-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 100vh;

  /* Rectangle 2: */
  background: #A9A7A7;
  border-right: solid 1px #5f5f5f;
}

#editor-toolbar-top-container {

}

#editor-view-container {

}

#slide-tumbnails-area-close-wrapper {
  position: absolute;
  left: 0;
  top: 0;

  width: 40px;
  height: 120px;
  background-color: #1a1a1a;

}

// All Areas
#slide-tumbnails-area,
#slide-tumbnails-area-close,
#slide-devices-area,
#slide-devices-area-close {
  position: absolute;
  left: 0;
  top: 0;
  height: 120px;
}

#slide-tumbnails-area-close,
#slide-devices-area-close {
  padding: 10px;
  border-radius: 0 0 0 13px;
}

// Slides
#slide-tumbnails-area,
#slide-tumbnails-area-close {
  background-color: #1a1a1a;
  border-bottom: solid 1px #535353;
}

#slide-tumbnails-area {
  left: 40px;
  width: calc(100vw - 40px);
}

// Devices

#slide-devices-area,
#slide-devices-area-close {
  top: 120px;
  background-color: #2b2b2b;
  border-bottom: solid 1px #999999;

}

#slide-devices-area {
  left: 40px;
  top: 120px;

  width: 500px;
  border-radius: 0 0 13px 0;

}

.editor-button,
.editor-button-20,
.editor-button-20x45,
.editor-button-35x40 {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;

}

.editor-area-switcher,
.editor-area-switcher-small,
.editor-area-switcher-medium,
.editor-area-switcher-big {
  margin-top: 20px;
}

.editor-button-20 {
  width: 20px;
  height: 20px;
}

.editor-button-20x45 {
  width: 20px;
  height: 45px;
}

.editor-button-35x40 {
  width: 35px;
  height: 40px;
}