// Debug
$color-debug-background: rgba(23, 17, 57, 0.8);

$color-message: rgb(195, 209, 255);
$color-message-ok: rgb(114, 255, 118);
$color-message-error: rgb(255, 105, 109);
$color-message-warning: rgb(255, 218, 108);


