<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">A Nicer Way</a>
        <div class="visible-xs">
            <ul class="nav  navbar-right">
                <nav aria-label="">
                    <ul class="pager">
                        <li class="previous"><a class="navigation-button-previous"><span
                                aria-hidden="true">&larr;</span> </a></li>
                        <li class="next"><a class="navigation-button-next"> <span aria-hidden="true">&rarr;</span></a>
                        </li>
                    </ul>
                </nav>
            </ul>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse   navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav  navbar-nav">
            <li><a class="navigation-display-toggle-button">Stationen</a></li>
            <li><a class="data-display-toggle-button">Bearbeiten</a></li>
            <li><a class="smartphone-sim-button-toggle"><span class="glyphicon glyphicon-phone"></span> </a></li>
            <li><a class="console-toggle-button"><span class="glyphicon glyphicon-console"></span></a></li>
            <li><a class="modal-center-button-remote"><span class="glyphicon glyphicon-sort"></span></a></li>
            <li><a class="help-button-toggle " data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a></li>
            <li><a class="character-display-toggle-button"><span class="glyphicon glyphicon-knight"></span></a></li>
        </ul>

        <ul class="nav  navbar-right">
            <nav aria-label="">
                <ul class="pager">
                    <li class="previous"><a class="navigation-button-previous"><span aria-hidden="true">&larr;</span>
                    </a></li>
                    <li class="next"><a class="navigation-button-next"> <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </ul>

    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->