<div id="navigation-display-content" data-keystroke="n" class="nicer-display">

    <div class="well well-display shadow-display">

        <!-- Header -->
        <div class="display-header">
        <span class="display-title">
            <span class="glyphicon glyphicon-th-list glyphicon-title"></span>
             Stationen</span>
            <span class="close display-close-button">&times;</span>
        </div>

        <!-- Main -->
        <div class="display-main">
            <div id="navigation-content">
                laden ...
            </div>

            <!-- Footer -->
            <div class="display-footer"></div>
        </div>
    </div>
</div>