<div id="remote-display-content" data-keystroke="" class="nicer-display">

    <div class="well well-display shadow-display">

        <!-- Header -->
        <div class="display-header">
            <span class="display-title"><span
                    class="glyphicon glyphicon-sort glyphicon-title"> </span> Remote</span>

            <span class="close display-close-button">&times;</span>
        </div>

        <!-- Main -->
        <div class="display-main">
            <div id="remote-display-frame">
                <!-- inject:views/remote_display_mobile.html -->
                <!-- endinject -->
            </div>

        </div>

        <!-- Footer -->
        <div class="display-footer"></div>
    </div>
</div>