<div class="container-fluid">

    <form class="form-inline form-smal" name="sockettest">

        <div class="remote-test">TEST</div>

        div.remote-slide-active

        div.remote-slide-preview

        div.remote-protagonist



        <div class="message">

            <div class="form-group ">
                <input type="text" class="form-control input-sm" id="testtext" placeholder="bla bla">
            </div>

            <button type="button" class="btn btn-default btn-sm" id="botton-socket-test-message">Send</button>


        </div>



        <button type="button" class="btn btn-default btn-sm" class="botton-socket-ping"><span
                class="glyphicon glyphicon-screenshot"></span></button>
        <button type="button" class="btn btn-default btn-sm" class="botton-socket-steuerbefehl">Steuerbefehl
        </button>

    </form>

</div>