<div class="container">

    <div class="remote-test"></div>

    <div class="remote-slide-active">
        <div class="well"></div>
    </div>

    <div class="remote-slide-preview"></div>

    <div class="remote-protagonist"></div>


    <div class="message">

        <form class="form-inline form-small" name="sockettest">
            <div class="form-group">
                <input type="text" class="form-control input-sm" id="input-socket-message" placeholder="bla bla">
                <button type="button" class="btn btn-default btn-sm button-socket-message">Send</button>
            </div>

        </form>

    </div>


    <button type="button" class="btn btn-default btn-sm button-socket-ping">
        <span class="glyphicon glyphicon-screenshot"></span>
    </button>


    <button type="button"  data-command="" class="btn btn-default btn-sm button-socket-steuerbefehl">
        Steuerbefehl
    </button>
    <div class="row">
        <div class="col-xs-6">
            <button type="button" data-command="previous" class=" btn btn-default btn-socket button-socket-command socket-button-previous"><span aria-hidden="true">&larr;</span>
            </button>
        </div>

        <div class="col-xs-6">
            <button type="button" data-command="next" class=" btn btn-default btn-socket button-socket-command socket-button-next"><span aria-hidden="true">&rarr;</span>
            </button>
        </div>

    </div>
</div>