<div id="smartphone-sim-content">
    <div id="smartphone-frame" class="shadow-display">
        <div id="smartphone-inner">
            <div id="smartphone-head">
                <div id="smartphone-toolbar">

                    <!-- resize -->
                    <span class="smartphone-toolbar-group smartphone-toolbar-group-resize">
                        <a>
                            <span class="smartphone-toolbar-item glyphicon glyphicon-minus-sign"
                                  id="smartphone-toolbar-smaler"></span>
                        </a>
                        <a>
                        <span class="smartphone-toolbar-item glyphicon glyphicon-plus-sign"
                              id="smartphone-toolbar-bigger"></span>
                         </a>
                    </span>

                    <!-- close -->
                    <span id="smartphone-toolbar-close" class="smartphone-sim-button-toggle">
                        <a>
                        <span class="smartphone-toolbar-item ">×</span>
                        </a>
                    </span>

                </div>
            </div>
            <div id="smartphone-screen">
                <div id="smartphone-screen-ring">

                    <div id="smartphone-content">

                        <!-- Start Hype -->

                        <div id="nicerv4_hype_container" class="hype-container">
                            <script type="text/javascript" charset="utf-8" src="hype/NICER_v4.hyperesources/nicerv4_hype_generated_script.js?52545"></script>
                        </div>

                        <!-- End Hype -->

                    </div>
                    <div id="smartphone-console">
                        <div id="smartphone-console-toolbar">
                            <div class="smartphone-console-toolbar-item smartphone-console-status"
                                 id="smartphone-console-toolbar-status">console
                            </div>
                            <div class="smartphone-console-toolbar-item" id="smartphone-console-toolbar-test"><a
                                    class="smartphone-console-test">[test]</a></div>
                            <div class="smartphone-console-toolbar-item" id="smartphone-console-toolbar-clear"><a
                                    class="smartphone-console-clear">[clear]</a></div>

                        </div>
                        <div id="smartphone-console-main">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="smartphone-home-button"></div>
        <div id="smartphone-sim-ready"></div>
    </div>
</div>