<div id="smartphone-sim-content">
    <div id="smartphone-frame" class="shadow-display">
        <div id="smartphone-inner">
            <div id="smartphone-head">

                <!-- Toolbar -->
                <div id="smartphone-toolbar">

                    <!-- resize -->
                    <div id="smartphone-toolbar-resize"
                         class="smartphone-toolbar-item smartphone-toolbar-item-group">
                        <a id="smartphone-toolbar-smaler">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </a>
                        <a id="smartphone-toolbar-bigger">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </div>

                    <!-- solo-presentations-modus -->
                    <div class="smartphone-toolbar-item">
                        <a id="smartphone-toolbar-solo">solo</a>
                    </div>

                    <!-- close -->
                    <div class="smartphone-toolbar-item">
                        <a id="smartphone-toolbar-close">×</a>
                    </div>

                </div>
            </div>
            <div id="smartphone-screen">
                <div id="smartphone-screen-ring">

                    <div id="smartphone-content">

                        <!-- Start Hype -->

                        <div id="nicerv5_hype_container" class="sim-hype-container">
                            <script type="text/javascript" charset="utf-8" src="hype/NICER_v5.hyperesources/nicerv5_hype_generated_script.js?85057"></script>
                        </div>


                        <!-- End Hype -->

                    </div>
                    <div id="smartphone-console">
                        <div id="smartphone-console-toolbar">

                            <!-- Status -->
                            <div class="smartphone-console-toolbar-item smartphone-console-status"
                                 id="smartphone-console-toolbar-status">console
                            </div>

                            <!-- test -->
                            <div class="smartphone-console-toolbar-item" id="smartphone-console-toolbar-test">
                                <a class="smartphone-console-test">[test]</a>
                            </div>

                            <!-- clear -->
                            <div class="smartphone-console-toolbar-item" id="smartphone-console-toolbar-clear">
                                <a class="smartphone-console-clear">[clear]</a>
                            </div>

                        </div>

                        <div id="smartphone-console-main">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="smartphone-home-button"></div>
        <div id="smartphone-sim-ready"></div>
    </div>
</div>